<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reeldark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{72,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,117}}</string>
                <key>sourceSize</key>
                <string>{72,117}</string>
            </dict>
            <key>reelwin-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,231},{477,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,288}}</string>
                <key>sourceSize</key>
                <string>{477,288}</string>
            </dict>
            <key>reelwin-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,231},{124,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,166}}</string>
                <key>sourceSize</key>
                <string>{124,166}</string>
            </dict>
            <key>reelwin-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,535},{96,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{96,142}}</string>
                <key>sourceSize</key>
                <string>{124,166}</string>
            </dict>
            <key>showarea-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,357},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>showarea-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{227,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,407}}</string>
                <key>sourceSize</key>
                <string>{227,407}</string>
            </dict>
            <key>weelamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,556},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>wheeldark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,552}}</string>
                <key>sourceSize</key>
                <string>{553,552}</string>
            </dict>
            <key>windowin.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,809},{176,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,197}}</string>
                <key>sourceSize</key>
                <string>{176,197}</string>
            </dict>
            <key>windowlamp-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{251,272}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{251,272}}</string>
                <key>sourceSize</key>
                <string>{259,302}</string>
            </dict>
            <key>windowlamp-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,556},{251,262}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{251,262}}</string>
                <key>sourceSize</key>
                <string>{259,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg_effect_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95b9026e288f3731a08521e9181f852c:2/3$</string>
            <key>textureFileName</key>
            <string>bg_effect_1.png</string>
        </dict>
    </dict>
</plist>
