Debug.win32
Release.win32
.vs
.DS_Store
.idea
.cxx
*.iml
/cocos2d/cocos/platform/android/libcocos2dx/build
/proj.android/app/release
/proj.android/app/assets
*.user
/out
project.xcworkspace
xcshareddata
xcuserdata
