Debug.win32
Release.win32
.vs
.DS_Store
.idea
/cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
/proj.android/app/cccpp1.iml
/proj.android/proj.android.iml
/cocos2d/cocos/platform/android/libcocos2dx/build
/proj.android/app/release
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/dh.xcuserdatad/xcschemes/xcschememanagement.plist
proj.ios_mac/cccpp1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
proj.ios_mac/cccpp1.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
proj.ios_mac/cccpp1.xcodeproj/project.xcworkspace/xcuserdata/dh.xcuserdatad/UserInterfaceState.xcuserstate
proj.ios_mac/cccpp1.xcodeproj/xcuserdata/dh.xcuserdatad/xcschemes/xcschememanagement.plist
