<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.201058,0.486364}</string>
                <key>spriteOffset</key>
                <string>{-2.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{184,141}</string>
                <key>spriteSourceSize</key>
                <string>{189,220}</string>
                <key>textureRect</key>
                <string>{{0,158},{184,141}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 4 5 6 7 4 3 4 7 3 7 8 2 3 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>184 92 184 130 128 150 79 153 51 167 50 185 0 175 0 59 20 44</string>
                <key>verticesUV</key>
                <string>184 206 184 244 128 264 79 267 51 281 50 299 0 289 0 173 20 158</string>
            </dict>
            <key>suodingquan_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{278,0},{113,111}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 3 4 9 1 2 5 0 11 10 11 0 10 0 1 9 10 1 8 9 2 8 2 3 7 8 3 6 7 4 6 4 5 5 11 6</string>
                <key>vertices</key>
                <string>106 2 113 54 107 112 7 111 0 56 4 1 33 41 29 66 50 85 80 72 84 47 63 28</string>
                <key>verticesUV</key>
                <string>384 1 391 53 385 111 285 110 278 55 282 0 311 40 307 65 328 84 358 71 362 46 341 27</string>
            </dict>
            <key>suodingquan_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{112,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{166,0},{112,115}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2 3 4 5 6 7 8 9 11 12 9 10 11</string>
                <key>vertices</key>
                <string>71 115 41 116 56 72 44 60 2 74 2 45 114 74 68 59 114 43 60 33 44 33 44 2 72 1</string>
                <key>verticesUV</key>
                <string>235 114 205 115 220 71 208 59 166 73 166 44 278 73 232 58 278 42 224 32 208 32 208 1 236 0</string>
            </dict>
            <key>xiaochouyu_die (1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{342,361},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>57 16 57 41 11 42 2 18 35 5</string>
                <key>verticesUV</key>
                <string>397 372 397 397 351 398 342 374 375 361</string>
            </dict>
            <key>xiaochouyu_die (10)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{86,309},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>54 15 59 42 5 41 0 17 32 6</string>
                <key>verticesUV</key>
                <string>140 318 145 345 91 344 86 320 118 309</string>
            </dict>
            <key>xiaochouyu_die (2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,1}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{140,301},{57,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>55 15 59 33 38 42 8 42 2 18 33 4</string>
                <key>verticesUV</key>
                <string>193 312 197 330 176 339 146 339 140 315 171 301</string>
            </dict>
            <key>xiaochouyu_die (3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{179,364},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>59 29 47 41 4 41 4 7 53 7</string>
                <key>verticesUV</key>
                <string>234 386 222 398 179 398 179 364 228 364</string>
            </dict>
            <key>xiaochouyu_die (4)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-1}</string>
                <key>spriteSize</key>
                <string>{53,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,369},{53,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>56 35 32 43 3 32 3 7 56 7</string>
                <key>verticesUV</key>
                <string>53 397 29 405 0 394 0 369 53 369</string>
            </dict>
            <key>xiaochouyu_die (5)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,-2}</string>
                <key>spriteSize</key>
                <string>{57,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{223,67},{57,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 1 2 5 0 1 5</string>
                <key>vertices</key>
                <string>57 14 57 32 35 46 6 32 0 16 28 6</string>
                <key>verticesUV</key>
                <string>280 75 280 93 258 107 229 93 223 77 251 67</string>
            </dict>
            <key>xiaochouyu_die (6)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-0.5}</string>
                <key>spriteSize</key>
                <string>{48,33}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{238,375},{48,33}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>55 41 7 41 7 8 55 8</string>
                <key>verticesUV</key>
                <string>286 408 238 408 238 375 286 375</string>
            </dict>
            <key>xiaochouyu_die (7)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-3}</string>
                <key>spriteSize</key>
                <string>{49,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{360,230},{49,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>57 32 35 46 8 31 8 8 57 8</string>
                <key>verticesUV</key>
                <string>409 254 387 268 360 253 360 230 409 230</string>
            </dict>
            <key>xiaochouyu_die (8)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2.5}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{229,4},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>55 17 55 34 31 43 5 32 5 15 38 0</string>
                <key>verticesUV</key>
                <string>279 21 279 38 255 47 229 36 229 19 262 4</string>
            </dict>
            <key>xiaochouyu_die (9)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-1}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{244,299},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 5 6 4 2 3 4 5 2 1 2 6 0 1 6</string>
                <key>vertices</key>
                <string>59 22 54 34 32 43 3 34 0 25 6 7 44 7</string>
                <key>verticesUV</key>
                <string>303 314 298 326 276 335 247 326 244 317 250 299 288 299</string>
            </dict>
            <key>xiaochouyu_move (1)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,3.5}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{286,269},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 23 58 47 21 47 2 28 24 6</string>
                <key>verticesUV</key>
                <string>342 286 342 310 305 310 286 291 308 269</string>
            </dict>
            <key>xiaochouyu_move (10)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,3}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{147,154},{59,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>61 31 39 53 12 43 2 33 41 1</string>
                <key>verticesUV</key>
                <string>206 184 184 206 157 196 147 186 186 154</string>
            </dict>
            <key>xiaochouyu_move (11)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,3.5}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{184,178},{57,49}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>61 31 41 51 5 44 4 30 41 2</string>
                <key>verticesUV</key>
                <string>241 207 221 227 185 220 184 206 221 178</string>
            </dict>
            <key>xiaochouyu_move (12)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,3.5}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{200,216},{57,45}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 26 58 49 18 49 1 32 36 4</string>
                <key>verticesUV</key>
                <string>257 238 257 261 217 261 200 244 235 216</string>
            </dict>
            <key>xiaochouyu_move (13)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{57,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{229,258},{57,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 24 58 49 18 49 1 32 35 8</string>
                <key>verticesUV</key>
                <string>286 274 286 299 246 299 229 282 263 258</string>
            </dict>
            <key>xiaochouyu_move (14)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{223,150},{56,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 24 58 50 19 50 2 33 31 4</string>
                <key>verticesUV</key>
                <string>279 170 279 196 240 196 223 179 252 150</string>
            </dict>
            <key>xiaochouyu_move (15)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,1.5}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{342,280},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 3 1 2 3 0 3 4</string>
                <key>vertices</key>
                <string>58 24 58 50 5 50 5 29 35 7</string>
                <key>verticesUV</key>
                <string>395 297 395 323 342 323 342 302 372 280</string>
            </dict>
            <key>xiaochouyu_move (16)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{156,104},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 26 58 51 21 51 2 32 33 1</string>
                <key>verticesUV</key>
                <string>212 129 212 154 175 154 156 135 187 104</string>
            </dict>
            <key>xiaochouyu_move (17)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{111,259},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>58 24 58 51 6 52 3 28 35 7</string>
                <key>verticesUV</key>
                <string>166 276 166 303 114 304 111 280 143 259</string>
            </dict>
            <key>xiaochouyu_move (18)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,1}</string>
                <key>spriteSize</key>
                <string>{57,44}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{156,241},{57,44}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 24 58 51 22 51 1 30 34 7</string>
                <key>verticesUV</key>
                <string>213 258 213 285 177 285 156 264 189 241</string>
            </dict>
            <key>xiaochouyu_move (19)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{212,107},{55,48}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>58 26 58 40 33 53 4 33 3 27 37 5</string>
                <key>verticesUV</key>
                <string>267 128 267 142 242 155 213 135 212 129 246 107</string>
            </dict>
            <key>xiaochouyu_move (2)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,4.5}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{275,141},{56,43}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 22 58 47 20 47 2 29 14 4</string>
                <key>verticesUV</key>
                <string>331 159 331 184 293 184 275 166 287 141</string>
            </dict>
            <key>xiaochouyu_move (20)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,1}</string>
                <key>spriteSize</key>
                <string>{57,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{283,184},{57,42}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 23 58 50 23 50 1 28 32 8</string>
                <key>verticesUV</key>
                <string>340 199 340 226 305 226 283 204 314 184</string>
            </dict>
            <key>xiaochouyu_move (21)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,2.5}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{51,267},{57,45}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 24 58 50 24 50 1 27 31 5</string>
                <key>verticesUV</key>
                <string>108 286 108 312 74 312 51 289 81 267</string>
            </dict>
            <key>xiaochouyu_move (22)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{315,244},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>58 23 58 45 31 50 3 30 3 25 30 8</string>
                <key>verticesUV</key>
                <string>370 259 370 281 343 286 315 266 315 261 342 244</string>
            </dict>
            <key>xiaochouyu_move (23)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{233,335},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 11 58 42 30 50 4 30 7 10</string>
                <key>verticesUV</key>
                <string>287 336 287 367 259 375 233 355 236 335</string>
            </dict>
            <key>xiaochouyu_move (24)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{61,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{146,0},{61,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>57 19 61 38 26 52 0 24 30 11</string>
                <key>verticesUV</key>
                <string>203 8 207 27 172 41 146 13 176 0</string>
            </dict>
            <key>xiaochouyu_move (25)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{234,196},{59,43}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>57 22 61 37 27 51 2 26 25 8</string>
                <key>verticesUV</key>
                <string>289 210 293 225 259 239 234 214 257 196</string>
            </dict>
            <key>xiaochouyu_move (26)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,4}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{0,293},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 22 58 46 16 46 3 26 22 6</string>
                <key>verticesUV</key>
                <string>55 309 55 333 13 333 0 313 19 293</string>
            </dict>
            <key>xiaochouyu_move (27)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,2}</string>
                <key>spriteSize</key>
                <string>{55,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{58,341},{55,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 15 58 46 29 47 3 30 4 9</string>
                <key>verticesUV</key>
                <string>113 347 113 378 84 379 58 362 59 341</string>
            </dict>
            <key>xiaochouyu_move (28)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,3.5}</string>
                <key>spriteSize</key>
                <string>{57,43}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{258,231},{57,43}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 23 58 41 32 48 1 28 22 5</string>
                <key>verticesUV</key>
                <string>315 249 315 267 289 274 258 254 279 231</string>
            </dict>
            <key>xiaochouyu_move (29)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{331,147},{56,42}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 23 58 47 22 47 2 27 22 5</string>
                <key>verticesUV</key>
                <string>387 165 387 189 351 189 331 169 351 147</string>
            </dict>
            <key>xiaochouyu_move (3)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{0,333},{58,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>58 48 29 48 0 31 19 12 58 12</string>
                <key>verticesUV</key>
                <string>58 369 29 369 0 352 19 333 58 333</string>
            </dict>
            <key>xiaochouyu_move (30)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1.5}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{287,353},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 22 58 47 5 47 3 23 29 10</string>
                <key>verticesUV</key>
                <string>342 365 342 390 289 390 287 366 313 353</string>
            </dict>
            <key>xiaochouyu_move (4)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{55,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{124,342},{55,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 22 58 48 4 48 3 26 29 10</string>
                <key>verticesUV</key>
                <string>179 354 179 380 125 380 124 358 150 342</string>
            </dict>
            <key>xiaochouyu_move (5)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{349,323},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 22 58 48 4 48 4 28 30 10</string>
                <key>verticesUV</key>
                <string>403 335 403 361 349 361 349 341 375 323</string>
            </dict>
            <key>xiaochouyu_move (6)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{179,324},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>58 23 58 49 4 49 4 29 30 9</string>
                <key>verticesUV</key>
                <string>233 338 233 364 179 364 179 344 205 324</string>
            </dict>
            <key>xiaochouyu_move (7)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{188,284},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>58 22 58 49 19 49 2 32 29 9</string>
                <key>verticesUV</key>
                <string>244 297 244 324 205 324 188 307 215 284</string>
            </dict>
            <key>xiaochouyu_move (8)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{295,313},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>58 23 58 49 5 49 4 30 30 9</string>
                <key>verticesUV</key>
                <string>349 327 349 353 296 353 295 334 321 313</string>
            </dict>
            <key>xiaochouyu_move (9)</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1.5}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{340,189},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>58 23 58 49 5 49 3 29 30 8</string>
                <key>verticesUV</key>
                <string>395 204 395 230 342 230 340 210 367 189</string>
            </dict>
            <key>yuwang_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,167}</string>
                <key>spriteSourceSize</key>
                <string>{166,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 9 7 8 9 7 9 2 5 6 7 4 5 7 2 3 4 7 2 4 1 9 10 0 1 10</string>
                <key>vertices</key>
                <string>149 17 166 51 166 115 149 149 113 167 52 167 13 149 0 103 0 20 63 0 115 0</string>
                <key>verticesUV</key>
                <string>149 17 166 51 166 115 149 149 113 167 52 167 13 149 0 103 0 20 63 0 115 0</string>
            </dict>
            <key>zidan_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.877193,0.5}</string>
                <key>spriteOffset</key>
                <string>{23.5,0}</string>
                <key>spriteSize</key>
                <string>{116,36}</string>
                <key>spriteSourceSize</key>
                <string>{171,94}</string>
                <key>textureRect</key>
                <string>{{269,111},{116,36}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3 5 6 7 4 5 7</string>
                <key>vertices</key>
                <string>167 65 84 65 84 29 167 29 68 61 51 61 51 40 68 40</string>
                <key>verticesUV</key>
                <string>385 147 302 147 302 111 385 111 286 143 269 143 269 122 286 122</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>all.pkm</string>
            <key>size</key>
            <string>{409,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eecb2c1e55c3f102ba5c9d146a8fcf5e:2e8a682f7f4654b20e4404c5daae4c7d:928a4ce365e7133476de68860937c334$</string>
            <key>textureFileName</key>
            <string>all.pkm</string>
        </dict>
    </dict>
</plist>
