<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die/xiaochouyu_die (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{606,118},{50,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{810,110},{52,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{52,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{572,118},{50,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{776,114},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{52,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{742,114},{52,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{52,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{708,116},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{52,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{387,122},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{509,120},{48,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,120},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{48,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>die/xiaochouyu_die (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{674,116},{52,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{52,32}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>move/xiaochouyu_move (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{52,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,78},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{680,40},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{626,78},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{626,40},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{572,40},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{518,80},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{464,38},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,40}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,80},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,40}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{410,38},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,40}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{356,80},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,40}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{421,122},{52,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{518,40},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{356,38},{52,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{52,40}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{52,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{572,80},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{734,78},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{52,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{640,116},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{788,56},{52,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{52,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{333,136},{52,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{52,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{279,136},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{225,136},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{734,42},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{52,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{171,136},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{52,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{52,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{52,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>move/xiaochouyu_move (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{464,80},{52,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>pao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{183,132}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{183,132}}</string>
                <key>sourceSize</key>
                <string>{189,220}</string>
            </dict>
            <key>yuwang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>zidan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{115,34}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{115,34}}</string>
                <key>sourceSize</key>
                <string>{171,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>all.png</string>
            <key>size</key>
            <string>{844,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59ae18b9fa1d16bc0d7286651455ce45:b4d0a4db4fc55cc700228a0f4abeed71:928a4ce365e7133476de68860937c334$</string>
            <key>textureFileName</key>
            <string>all.png</string>
        </dict>
    </dict>
</plist>
